<nav class="navbar navbar-light bg-light justify-content-between">
  <a <%= link_to "Wikinimous", articles_path, class: "navbar-brand mb-0 h1" %></a>
  <a <%= link_to "New article", new_article_path, class: "navbar-brand" %></a>
</nav>

<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <ul class="list-inline">
    <% @articles.each do |article| %>
      <li class="list"> <%= link_to article.title, article_path(article), class: "text-decoration-none" %></li>
    <% end %>
    </ul>
  </div>
</div>
